#contenedor{
    background-color: black;
    height: 925px;
    width: 1200px;
    padding: 30px;
}
#menu{
    background-color: lightgreen;
    height: 900px;
    width: 350px;
    display: inline-block;
    padding: 5px;
}
#contenido{
    background-color: yellow;
    height: 900px;
    width: 825px;
    padding: 5px;
    display: inline-block;
}
#foto{
    background-color: pink;
    height: 280px;
    width: 310px;
    margin: 10px;
    padding: 5px;
}
#caract{
    background-color: royalblue;
    height: 280px;
    width: 310px;
    margin: 10px;
    padding: 5px;
}
#settings{
    background-color: violet;
    height: 280px;
    width: 310px;
    margin: 10px;
    padding: 5px;
}
.items{
    background-color: brown;
    height: 60px;
    width: 300px;
    margin: 5px;
}
#fotito{
    background-color: rgb(153, 165, 42);
    height: 80px;
    width: 300px;
    margin: 0px;
}
#insetting{
    background-color: coral;
    height: 70px;
    width: 300px;
    margin-top: 200px;
}